#Login {

    .log {
        width: 100%;
        max-width: 850px;
        margin: 50px auto;

        padding: 80px 250px;
        box-sizing: border-box;
        height: 600px;
        border: solid 3px 3px;
        border-radius: 3%;
        background-color: rgba(96, 133, 175, 0.6);

        .sub-title {
            margin-bottom: 20px;

            h2 {
                font-size: 38px;
                color: #DEF1FA;
                text-align: center;
            }
        }
    }

    .form-login {
        margin-top: 100px;
        width: 100px;
        margin: 0 auto;
        padding: 10px;
        display: inline;
    }

    .input-box {
        position: relative;
        margin: 10px 0;
    }

    // id, pw ////////////////////////////////////////////
    .id_login,
    .pw_login {
        color: #DEF1FA;
        background: transparent;
        border: none;
        border-bottom: solid 1px #ffffff;
        font-size: 14pt;
        width: 100%;
        padding-top: 30px;
    }

    .id_login::placeholder,
    .pw_login::placeholder {
        color: transparent;
    }

    .id_login:placeholder-shown+label,
    .pw_login:placeholder-shown+label {
        color: #DEF1FA;
        font-size: 14pt;
        top: 15px;
    }

    .id_login:focus+label,
    label,
    .pw_login:focus+label,
    label {
        color: #6db5cf;
        font-size: 10pt;
        pointer-events: none;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }

    .id_login:focus,
    .id:not(:placeholder-shown),
    .pw_login:focus,
    .pw:not(:placeholder-shown) {
        border-bottom: solid 1px #6db5cf;
        outline: none;
    }


    .login_pw,
    .gaip {
        color: #DEF1FA;
        display: inline-block;
        text-align: center;
    }

    a.login_pw {
        padding-top: 30px;
        padding-right: 197px;
    }

    // button ////////////////////////////////////////////
    .btn-login[type=button] {
        background-color: #0f4391;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        width: 100%;
        height: 35px;
        font-size: 14pt;
        margin-top: 20px;
        cursor: pointer;
        box-shadow: 0px 7px #20357b;
        display: block;
        position: relative;
        float: left;
        padding: 0;
        margin: 10px 20px 10px 0;
        font-weight: 600;
        text-align: center;
        line-height: 50px;
        color: #fff;
        border-radius: 5px;
        transition: all 0.2s;
    }

    .btn-login[type=button]:hover {
        margin-top: 15px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 0px 0px #004F6F;
    }

    .btn_log {
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        overflow: hidden;
        max-height: 90px;
    }
}