.main {
    width: 100%;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 680px;
        background: url(../../images/bg.jpg)no-repeat;
        background-attachment: fixed;
        background-position: center 100%;
        background-size: cover;
        position: absolute;
        top: -100px;
        left: 0;
        z-index: -1;
    }
}

.main-slider {
    .swiper {
        padding: 60px 0;
        box-sizing: border-box;

        .swiper-slide {
            margin: 0 -180px;


            .msImg {
                width: 100%;
                max-width: 1400px;
                min-height: 680px;
                background: #fff;
                // border-radius: 20px;
                border-radius: 0 100px 0 100px;
                // box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
                margin: 0 auto;
                text-align: center;
                padding: 80px 120px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                position: relative;
                opacity: 0.7;
                transition: all 0.8s;
            }

            .msImg:before {
                content: '';
                width: 100%;
                height: 100%;
                background-size: contain;
                position: absolute;
                z-index: 0;
                opacity: 0.8;
            }

            .msImg1:before {
                background: url(../../images/slide01.png)no-repeat;
                background-position: 80% 70%;
            }

            .msImg2:before {
                background: url(../../images/slide02.png)no-repeat;
                background-position: 0% 70%;
            }

            .msImg3:before {
                background: url(../../images/slide03.png)no-repeat;
                background-position: 70% 250%;
            }

            &.swiper-slide-active .msImg {
                opacity: 1;
                box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
            }

            .msTxt {
                text-align: left;
                position: relative;
                // opacity: 0;
                // transition: all 0.4s;

                h1 {
                    font-size: 36px;
                    font-weight: 400;
                    margin-bottom: 50px;
                    color: #333;

                    strong {
                        font-weight: 600;
                    }
                }

                p {
                    font-size: 22px;

                }

                ul li {
                    font-size: 22px;
                    padding: 10px 0;
                    color: #444;
                    line-height: 1.65;
                }

                .btn {
                    margin-top: 40px;
                }
            }

            .msImg2 .msTxt {
                left: 48%;
                width: 52%;
            }

            // &.swiper-slide-active .msTxt {
            //     opacity: 1;
            // }
        }

        // .swiper-button-next,
        // .swiper-button-prev {
        //     width: 140px;
        //     height: 30px;
        //     border-bottom: 2px solid #000;
        //     opacity: 0.8;
        // }

        // .swiper-button-prev,
        // .swiper-rtl .swiper-button-next {
        //     left: 160px;
        // }

        // .swiper-button-next,
        // .swiper-rtl .swiper-button-prev {
        //     right: 160px;
        // }

        // .swiper-button-prev:after,
        // .swiper-rtl .swiper-button-next:after {
        //     content: '';
        //     width: 30px;
        //     height: 2px;
        //     background: #000;
        //     transform: rotate(-35deg);
        //     position: absolute;
        //     bottom: 7px;
        //     left: -1px;
        // }

        // .swiper-button-next:after,
        // .swiper-rtl .swiper-button-prev:after {
        //     content: '';
        //     width: 30px;
        //     height: 2px;
        //     background: #000;
        //     transform: rotate(35deg);
        //     position: absolute;
        //     bottom: 7px;
        //     right: -1px;
        // }


        // .swiper-button-next:before,
        // .swiper-button-prev:before {
        //     content: '';
        //     width: 100px;
        //     height: 100px;
        //     border-radius: 50px;
        //     background: rgba(0, 0, 0, 0.1);
        //     position: absolute;
        //     top: 100%;
        //     transform: translateY(-50%) scale(0);
        //     transition: transform 0.4s;
        // }

        // .swiper-button-prev::before {
        //     left: -30px;
        // }

        // .swiper-button-next::before {
        //     right: -30px;
        // }

        // .swiper-button-next:hover::before,
        // .swiper-button-prev:hover::before {
        //     transform: translateY(-50%) scale(100%);
        // }
    }

}

.mSection {
    width: 100%;
    max-width: 1400px;
    margin: 120px auto;

    .s-title {
        margin-bottom: 20px;

        h2 {
            font-size: 44px;
            color: #222;
        }
    }

    .nBoxWrap {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
    }

    .nBox {
        width: 33.33%;

        a {
            width: 90%;
            min-height: 400px;
            background: #fff;
            padding: 60px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            transition: all 0.4s;
            transform: translateY(0);

            h3 {
                font-size: 22px;
                color: #333;
                line-height: 1.65;
                margin-bottom: 30px;
                font-weight: 600;
                word-break: break-all;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-align: justify;
            }

            p {
                text-align: justify;
                word-break: break-all;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-align: justify;
            }

            .nBoxBottom {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;

                span {
                    font-size: 16px;
                    color: #888;
                    letter-spacing: 0.05em;
                }

                i {
                    font-size: 35px;
                    color: #888;
                    transition: all 0.4s;
                }
            }

            &:hover {
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
                transform: translateY(-10px);

                i {
                    transform: rotate(180deg);
                    color: #191d73;
                }
            }
        }


    }
}