.memberMain {
    position: relative;
    min-height: 980px;
    width: 100%;

    &::before {
        content: '';
        width: 100%;
        height: 100vh;
        position: fixed;
        background: url(../../images/bg.jpg)no-repeat;
        z-index: -1;
    }
}

.memberSection {
    width: 100%;
    max-width: 1200px;
    margin: 120px auto;

    .sub-title {
        margin-bottom: 100px;

        h2 {
            font-size: 38px;
            // color: #333;
            color: rgba(255, 255, 255, 0.9);
            text-align: center;
        }
    }
}

// .memberFoot {
//     background: #fafafa;
// }

.memberFoot {
    #Footer .info h4 {
        color: rgba(255, 255, 255, 0.9);
    }

    #Footer .info ul li,
    #Footer .info .copy {
        color: rgba(255, 255, 255, 0.6);
    }

    #Footer .ft-menu ul li a {
        color: rgba(255, 255, 255, 0.75);
    }
}