.login {
  position: absolute;
  right: 100px;
  top: 60%;
  transform: translateY(-50%);
}

.mydropmenu ul {
  list-style: none;
}
.mydropmenu a {
  text-decoration: none;
}
.mydropmenu:after {
  display: block;
  content: '';
  clear: both;
}
.mydropmenu > li {
  position: relative;
  float: left;
  margin-right: 5px;
}
.mydropmenu > li > a {
  display: block;
  padding: 0 15px;

  height: 40px;
  line-height: 40px;
  color: #fff;
}
.mydropmenu > li:hover .depth_1 {
  display: block;
}
.mydropmenu .depth_1 {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 10px;
}
.mydropmenu .depth_1 a {
  display: block;
  padding: 5px;
  color: #fff;
}

.logOn a {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  box-sizing: border-box;
  /* transition: all 0.4s; */
  border-radius: 10px;
}

.logOn a:hover {
  background: #fff;
  color: #191d73;
  border-color: #fff;
}
